.Input {
  outline: 0;
  width: 300px;
  height: 40px;
  color: #333333;
  border: 1px solid #C4C4C4;
  border-radius: 4px;
  font-size: 14px; }
  .Input::-webkit-input-placeholder {
    color: #B5B5B5;
    font-size: 14px;
    font-weight: 300; }
.multi-action {
  font-family: -apple-system-font, "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  height: 580px !important;
  width: 600px !important; }
  .multi-action * {
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation; }
  .multi-action .header {
    position: relative;
    background-color: #F6F6F6;
    padding: 15px 30px;
    user-select: none; }
    .multi-action .header .title {
      margin: 0;
      font-size: 18px;
      font-weight: 500; }
    .multi-action .header .whitelist-btn {
      display: inline-block;
      float: right;
      padding: 0 10px;
      color: #999999;
      background-color: transparent;
      border-radius: 2px;
      border: 1px solid #999999;
      font-size: 12px;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
      user-select: none; }
      .multi-action .header .whitelist-btn.active {
        border-color: #1E64E2;
        color: #1E64E2; }
    .multi-action .header .memo {
      margin: 8px 150px 0 0;
      font-size: 13px;
      color: #999; }
  .multi-action .content {
    display: flex;
    padding: 10px 20px; }
    .multi-action .content .detail,
    .multi-action .content .list {
      max-height: 310px;
      overflow-y: auto; }
    .multi-action .content .list {
      background-color: #f6f6f6;
      border-radius: 4px;
      width: 180px;
      flex: 0 0 auto; }
      .multi-action .content .list ol {
        margin: 0;
        padding: 10px 20px 10px 25px; }
      .multi-action .content .list li {
        margin: 10px 0;
        font-size: 14px; }
      .multi-action .content .list .arrow {
        color: #999;
        letter-spacing: -3px; }
    .multi-action .content .detail {
      margin-left: 20px;
      flex: 0 1 auto; }
    .multi-action .content .item-group {
      margin-bottom: 8px;
      padding: 10px 5px;
      border: 1px solid #dedede;
      border-radius: 4px; }
    .multi-action .content .group-tit {
      line-height: 1.6;
      font-size: 13px;
      font-weight: 500;
      user-select: none; }
    .multi-action .content .item {
      margin-bottom: 8px; }
    .multi-action .content .item-tit {
      line-height: 1.6;
      font-size: 13px;
      user-select: none; }
    .multi-action .content .item-val {
      padding: 8px 16px;
      max-height: 160px;
      min-height: 36px;
      line-height: 1.4;
      border-radius: 4px;
      background-color: #F6F6F6;
      border: 1px solid #C4C4C4;
      font-size: 14px;
      overflow-y: auto; }
    .multi-action .content .item-tips {
      padding: 10px 0 0;
      line-height: 1.2;
      font-size: 12px;
      color: #b92419;
      user-select: none; }
  .multi-action .tips {
    padding: 0 20px;
    user-select: none; }
    .multi-action .tips p {
      margin: 2px 0;
      font-size: 12px;
      color: #999999; }
  .multi-action .footer {
    padding: 10px 20px 0;
    text-align: right;
    user-select: none; }
    .multi-action .footer .ft-btn {
      width: 130px;
      height: 40px;
      border: 1px solid #000;
      border-radius: 4px;
      background-color: #fff;
      font-size: 16px;
      color: #000; }
      .multi-action .footer .ft-btn.whitelist {
        border-color: #1E64E2;
        color: #1E64E2; }
      .multi-action .footer .ft-btn.primary {
        background-color: #000;
        color: #fff;
        margin-left: 15px; }
        .multi-action .footer .ft-btn.primary.whitelist {
          background-color: #1E64E2;
          color: #fff; }
  .multi-action .gas-setting {
    height: 40px;
    user-select: none; }
  .multi-action .transferAmount-box {
    padding: 0 20px;
    display: flex;
    line-height: 40px;
    align-items: center;
    font-size: 14px; }
    .multi-action .transferAmount-box .transferAmount {
      margin-right: 10px; }
    .multi-action .transferAmount-box .balance {
      color: #1E64E2;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 12px; }
    .multi-action .transferAmount-box .iGAS-price {
      cursor: pointer;
      color: #333333; }
      .multi-action .transferAmount-box .iGAS-price > i {
        display: inline-block;
        width: 7px;
        height: 13px;
        background-image: url("/static/images/arrow-right.png");
        background-size: cover;
        vertical-align: middle; }
  .multi-action .gas-form {
    padding: 0 20px;
    display: flex;
    align-items: center; }
    .multi-action .gas-form .gas-form-item {
      display: flex;
      align-items: center; }
      .multi-action .gas-form .gas-form-item + .gas-form-item {
        margin-left: 20px; }
      .multi-action .gas-form .gas-form-item span {
        margin-right: 10px;
        display: inline-block;
        white-space: nowrap;
        font-size: 13px; }
      .multi-action .gas-form .gas-form-item input {
        padding: 0 10px;
        width: 180px;
        height: 30px;
        line-height: 1; }
    .multi-action .gas-form .back-btn {
      padding: 10px 10px 10px 0;
      margin-right: 5px;
      display: inline-block;
      cursor: pointer; }
      .multi-action .gas-form .back-btn i {
        display: inline-block;
        width: 7px;
        height: 13px;
        background-image: url("/static/images/arrow-left.png");
        background-size: cover;
        vertical-align: middle; }
  .multi-action .account-limit-item + .account-limit-item:before {
    content: ', '; }
@font-face {
  font-family: 'Montserrat';
  src: url(/static/fonts/Montserrat-Regular.ttf) format("truetype"); }

body {
  margin: 0;
  padding: 0;
  min-width: 500px;
  height: 640px;
  overflow: hidden;
  word-break: break-word;
  font-size: 16px; }

* {
  box-sizing: border-box; }

p {
  margin: 0; }

.AskPopup__header {
  position: relative;
  background-color: #F6F6F6;
  padding: 15px 30px; }
  .AskPopup__header .title {
    font-size: 18px;
    margin-bottom: 9px;
    font-weight: 500; }
  .AskPopup__header p span:nth-child(2) {
    margin: 0 5px; }
  .AskPopup__header > span {
    color: #999999;
    position: absolute;
    right: 30px;
    width: 110px;
    height: 30px;
    top: 15px;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid #999999;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    user-select: none; }
    .AskPopup__header > span.active {
      border-color: #1E64E2;
      color: #1E64E2;
      font-weight: bold; }

.AskPopup__container {
  padding: 15px 30px 0; }

.AskPopup__tx {
  border: 1px solid #536886;
  padding: 10px;
  text-align: center; }

.AskPopup__button {
  margin: 0 6px; }
  .AskPopup__button--confirm {
    background-color: #536886; }
  .AskPopup__button--cancel {
    background-color: #D28B7B; }

.AskPopup__confirmMessage {
  margin: 8px;
  font-weight: bold; }

.AskPopupSummary {
  display: block;
  word-break: break-all; }

.AskPopupSummary__description {
  padding: 8px;
  font-size: 14px;
  text-align: left; }

.AskPopupSummary__item {
  font-weight: bold; }
  .AskPopupSummary__item--abi {
    color: #536886; }
  .AskPopupSummary__item--contractAddress {
    display: block;
    color: #2D2E31;
    font-size: 8px; }
  .AskPopupSummary__item--args {
    color: #D28B7B; }

.AskPopupDetail {
  padding: 10px;
  text-align: left;
  border: 1px solid black;
  margin-bottom: 6px; }

.AskPopupDetail__contract {
  font-size: 8px;
  word-break: break-all; }

.AskPopupDetail__abi {
  display: inline-block; }

.AskPopupDetail__args {
  display: inline-block; }

.AskPopup__detail .title {
  font-size: 14px; }

.AskPopup__detail p {
  width: 100%;
  background-color: #F6F6F6;
  border: 1px solid #C4C4C4;
  border-radius: 4px;
  padding: 0 20px;
  line-height: 40px;
  min-height: 40px;
  margin-top: 5px;
  margin-bottom: 15px; }

.AskPopup__detail .amount {
  text-transform: uppercase; }

.AskPopup__detail .memo {
  min-height: 40px;
  margin-bottom: 5px;
  line-height: 1.5;
  padding: 10px 20px;
  max-height: 170px;
  overflow: scroll; }

.AskPopup__tip {
  font-size: 12px;
  color: #999999; }

.AskPopup__buttons {
  text-align: right;
  margin-top: 16px; }
  .AskPopup__buttons button {
    width: 130px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 16px;
    color: #000; }
    .AskPopup__buttons button:last-child {
      background-color: #000;
      color: #fff;
      margin-left: 15px; }
  .AskPopup__buttons.active button {
    border-color: #1E64E2;
    color: #1E64E2; }
    .AskPopup__buttons.active button:last-child {
      background-color: #1E64E2;
      color: #fff; }

/*# sourceMappingURL=bundle-popup.css.map*/